 
<!--  Header -->
<%- include("./header") %>

<!-- Pocetna slika  -->
 	<%- include("./landing") %>

<!-- Se DRUGO -->
      <div class="main">
	<!-- DODADEN SERVICES -->
    <%- include("./services") %>	  
 <!-- Charts -->
 	<%- include("./charts") %>

        <hr class="divider-w">


		  
<!-- Pricing -->
    <%- include("./pricing") %>

<!-- Meet Our Team  -->
	<%- include("./ourTeam") %>

<!-- Sto kazuvaat DRUGITE za nas  -->
		  <!-- include("./whatTheySay") -->
	<!-- // <%-  %> -->
		  

<!-- Get In Touch -->
	<%- include("./getInTouch") %>
<!--  Footer -->
        	<%- include("./footer") %>



              <!-- Footer za NAS -->
    
      <!-- Footer za NAS -->
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>